.BookModal_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  padding: 35px;
  width: 380px;
  height: 250px;
  border-radius: 0.5rem;
  @include flex(column, flex-start, center);
  h1{
    font-size:1.3rem
  }
  select{
    margin:0.8rem 0
  }
  .err_msg{
    color:crimson;
    font-size:0.9rem;
    margin:0.5rem 0;
    text-align:center;
  }
  .selectedItem_details{
    margin:1rem 0;
  }
  .dates{
    @include flex(row,center,center)
  }
  .exit_buttons{
    margin:1rem 0;
    .yes_btn{
      border: 1px solid green;
      outline: none;
      cursor: pointer;
      padding: 9px 20px 9px 20px;
      border-radius: 4px;
      color: green;
      background-color:white;
      margin-right: 0.7rem;
      text-transform: capitalize;
      box-shadow:0 0 1px 1px rgba(0,0,0,0.2);  
    }
    .not_validate{
      border: 1px solid gray;
      outline: none;
      cursor: pointer;
      padding: 9px 20px 9px 20px;
      border-radius: 4px;
      color: gray;
      background-color:white;
      margin: 0.2rem;
      text-transform: capitalize;
      box-shadow:0 0 1px 1px rgba(0,0,0,0.2) ;
      cursor:not-allowed;
    }
    .no_btn{
      border: 1px solid red;
      outline: none;
      cursor: pointer;
      padding: 9px 20px 9px 20px;
      border-radius: 4px;
      color: red;
      background-color:white;
      margin: 0.2rem;
      text-transform: capitalize;
      box-shadow:0 0 1px 1px rgba(0,0,0,0.2)  
    }
  }
}