.table_wrapper {
  @include flex(column, center, center);
  margin: 1em 0;
  width: 100%;
  table {
    width: 50%;
    border-spacing: 0;
    border: 1px solid gray;
    border-radius: 4px;
    tr:last-child {
      td {
        border-bottom: 0;
      }
    }

    th,
    td {
      margin: 0;
      text-align: center;
      padding: 0.1rem 0.1rem;
      border-bottom: 1px solid gray;
      border-right: 1px solid gray;
      &:last-child {
        border-right: 0;
      }
    }
  }
  .btn_container {
    margin-top: 1.5rem;
    .btn1 {
      @include btn2;
    }
    .btn2 {
      @include btn3;
    }
  }
}
