//FONT_FAMILY
$fontFamily: "Montserrat", sans-serif;
$border: 1px solid gray;

// BOX_SHADOW
$shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// COLORS
$c1: #1c343c;
$c2: #c0726c;
$c3: #1e7961;
$c4: #13192c;
